# Arquivos de compilação Python
*.pyc
*.pyo
__pycache__/
.pyc

# Arquivos gerados por IDEs ou editores
.idea/
.vscode/

# Arquivo de ambiente virtual (se estiver usando virtualenv ou venv)
venv/
env/

# Arquivos de registro
*.log

# Pacotes instalados
pip-log.txt

CodeAnalysys.json
codeSmells.json
*.pyc
CodeAnalysis.json
__pycache__/funcoes.cpython-310.pyc
temporaria/
build/
dist/
*.spec
